<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Accueil</title>
</head>
<body>


	<div align="center">
	
		<h1>Product List</h1>
		<a href="/new">New Product</a>
		<br/><br/>
		<table border="1" cellpadding="10">

			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Made In</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>


			</thead>
           <tbody>
           <tr th:each="product : ${products}">
           
           <td th:text="${product.id}">Id</td>
           <td th:text="${product.name}">Name</td>
           <td th:text="${product.brand}">Brand</td>
           <td th:text="${product.madein}">Made In</td>
           <td th:text="${product.price}">Price</td>
           <td>
           <a th:href="@{'/edit/'+ ${product.id}}">Edit </a>
           <a th:href="@{'/delete/' + ${product.id}}"> Delete</a>
           
           </td>
           
           
           
           </tr>
           
           
           
           
           
           </tbody>





		</table>







	</div>




</body>
</html>